@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;
}
html{
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
}

/* ANCHOR Desktop version */
@media screen and (min-width:769px) and (max-width:1024px){
    .nav-menù-flex>#menù-compact{
        display: none;
    }
}

/* SECTION 0 - Header */
header{
    min-height: 10vh;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 2vh;
    background-color: #0083fc;
}
.nav-menù-flex{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding-bottom: 10px;
}
.nav-menù-flex{
    max-width: 90%;
}
.menù-list{
    display: flex;
    column-gap: 20px;
}
.menù-list>a{
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
}
.menù-list>a:hover{
    background-color: white;
    color: black;
}

/* SECTION 1 */
.container{
    margin: 20vh auto 10vh;
    max-width: 90%;
    padding: 2vh;

}
.general-info{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 20vh;
    background-color: #b5ddff;
    border-radius: 25px;
    width: calc((((100%)/3)) - 30px);
    gap: 10px;
    padding: 20px 0 10px;
    line-height: 1.5;
}
.card>span{
    min-width: 30%;
    min-height: 30%;
    padding: ;
}
.card>span>svg{
    width: 100%;
    height: 100%;
}
.card h2{
    color: #0083fc;
}
.large.card{
    flex-direction: row;
    width: calc((((100%)/3)*2) - 20px);
    align-items: flex-end;
    margin-bottom: 0;
    padding: 0 20px;
    column-gap: 20px;
    text-align: left;
}
.large.card > div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 50%;
    align-self: center;
}
.large.card>div>button{
    align-self: flex-start;
    padding: 5px 40px;
    border-radius: 15px;
    background-color: #0083fc;
}
.large.card>div>button>a{
    margin-bottom: 30px;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.large.card>figure{
    width: 80%;
    height: 80%;
}
.large.card>figure>img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}








/* ANCHOR Mobile version */
@media screen and (max-width:425px){

    /* SECTION 0 - Header */
    html{
        font-size: 0.7rem;
    }
    header{
        padding-bottom: 10px;
    }
    .nav-menù-flex{
        max-width: 90%;
    }
    .menù-list{
        display: none;
    }
    #menù-compact{
        width: 9vh;
        height: 9vh;
    }
    #menù-compact>svg{
        width:100%;
        height: 100%;
    }

    /* SECTION 1 */
    .card{
        min-height: 20vh;
        background-color: #b5ddff;
        border-radius: 25px;
        width:100%;
        padding: 20px 20px 10px;
        font-size: 1.2rem;
    }
    .large.card{
        flex-direction: column;
        padding-top: 20px;
        width: 100%;
        margin-bottom: 0;
        row-gap: 30px;
        text-align: center;
    }
    .large.card > div{
        flex-direction: column;
        max-width: 100%;
    }
    .large.card>div>button{
        align-self: center;
    }
    .large.card>figure{
        align-self: center;
    }
}






/* ANCHOR Tablet version */
@media screen and (max-width:768px) and (min-width:426px){

    /* SECTION 0 - Header */
    html{
        font-size: 1rem;
    }
    header{
        padding-bottom: 10px;
    }
    .nav-menù-flex{
        max-width: 90%;
    }
    .nav-menù-flex>.menù-list{
        display: none;
    }
    .nav-menù-flex>a{
        width: 9vh;
        height: 9vh;
    }
    .nav-menù-flex>a>svg{
        width:100%;
        height: 100%;
    }

    /* SECTION 1 */
    
}














/* Clearfix */
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}